.clock {
  width: var(--loader-clock-size);
  height: var(--loader-clock-size);
  border: var(--loader-clock-bsize) solid var(--loader-clock-cbc);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.clock .minute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock .minute div {
  animation: clock var(--loader-clock-minute-length) linear infinite;
  position: relative;
}

.clock .minute div::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: var(--loader-clock-pbc);
  width: 2px;
  height: calc(var(--loader-clock-size) / 2 - 1px);
  transform: translateX(-50%);
}

.clock .hour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock .hour div {
  animation: clock var(--loader-clock-hour-length) linear infinite;
  position: relative;
}

.clock .hour div:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: var(--loader-clock-pbc);
  width: 4px;
  height: calc(var(--loader-clock-size) / 4 - 1px);
  transform: translateX(-50%);
}

@keyframes clock {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
